go 1.25.1

use (
	./cli
	./clientx
	./configx
	./connectx
	./core
	./examples/minimal-connect-service
	./examples/user-service
	./httpx
	./k8sx
	./logx
	./obsx
	./runtimex
	./scripts/connect-tester
	./servicex
	./storex
	./testingx
)
