package main

import (
	"context"
	"net/http"
	"time"

	"github.com/eggybyte-technology/egg/runtimex"
	"github.com/eggybyte-technology/egg/connectx"
	"github.com/eggybyte-technology/egg/configx"
	"{{.ModulePrefix}}/backend/{{.ServiceName}}/internal/config"
)

func main() {
	ctx := context.Background()
	var cfg config.AppConfig
	configx.MustLoad(&cfg)

	mux := http.NewServeMux()
	ints := connectx.DefaultInterceptors(connectx.Options{SlowRequestMillis: 1000})
	
	// TODO: Add your Connect handlers here
	// path, h := yourapi.NewServiceHandler(..., connect.WithInterceptors(ints...))
	// mux.Handle(path, h)

	_ = runtimex.Run(ctx, nil, runtimex.Options{
		HTTP:    &runtimex.HTTPOptions{Addr: ":" + cfg.HTTPPort, H2C: true, Mux: mux},
		Health:  &runtimex.Endpoint{Addr: ":" + cfg.HealthPort},
		Metrics: &runtimex.Endpoint{Addr: ":" + cfg.MetricsPort},
		ShutdownTimeout: 15 * time.Second,
	})
}
